@charset "utf-8";
main {
    max-width: 48rem;
    margin: 0 auto 3rem;
    padding: 0 2rem;
}
.site-header {
    .site-title {
        font-weight: 300;
        > a {
            color: $text-color;
            text-decoration: none;
        }
    }
    .site-nav {
        > a {
            color: $text-color;
            &:hover {
                text-decoration: none;
            }
            &.active {
                border-bottom: 2px solid #666;
            }
            + a {
                margin-left: 1rem;
            }
        }
    }
}
.posts {
    list-style: none;
    padding: 0;
    > li {
        line-height: 1.75;
        span {
            color: $meta-color;
            margin-right: 1.5rem;
            font-size: $small-font-size;
        }
        a {
            color: $text-color;
            text-decoration: none;
        }
    }
}
.post {
    position: relative;
    .post-header {
        text-align: left;
        margin-bottom: 0;
    }
    .post-meta {
        margin: 0;
        text-align: center;
        color: $meta-color;
        font-size: $small-font-size;
    }
}



@media screen and (max-width: 48rem) {
    .site-header {
        .site-title,
        .site-nav {
            text-align: center;
        }
    }
}









/* NAVBAR STUFF
*/

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #383F51;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #CCDAD1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.15s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
background-color: $link-color;
color: #383F51;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}


.fadeimg{
    img{
      opacity: 1;
      transition: opacity .2s ease-in-out;
      -moz-transition: opacity .15s ease-in-out;
      -webkit-transition: opacity .15s ease-in-out;
      }

      img:hover {
       opacity: 0.6;
       }
}



/*  RESPONSIVE GRID FOR PROJECT PAGE  */

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TWO  */
.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col { 
        margin: 1% 0 1% 0%;
    }
}

@media only screen and (max-width: 480px) {
    .span_2_of_2, .span_1_of_2 { width: 100%; }
}