<!DOCTYPE html>
<html lang="en">
<head>
<script>
    /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <title>{{ site.title }}</title>
</head>
<body bgcolor="#383F51">
    <main>
        <header class="site-header">
          
            <ul class="topnav" id="myTopnav">
  <li><a href="/">lums.io</a></li>
  <li><a href="/music">MUSIC</a></li>
  <li><a href="/projects">PROJECTS</a></li>
  <li><a href="/about">ABOUT</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>
        </header>
        {{ content }}
    </main>
</body>
</html>
